services:
  app:
    build:
      context: .
      target: runtime-dev
    container_name: career-skill-aligner-app-dev
    env_file:
      - .env.docker.local
    ports:
      - '3001:3001' # main app
      - '5555:5555' # for prisma studio
    volumes:
      - ./src:/app/src # live code onlymount for development
    depends_on:
      db:
        condition: service_healthy
    networks:
      - app-network

  db:
    image: pgvector/pgvector:pg16
    container_name: career-skill-aligner-db-dev
    environment:
      POSTGRES_DB: appdb
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password123
    volumes:
      - pgdata_dev:/var/lib/postgresql/data
    ports:
      - '5433:5432' # Avoid using 5432 to prevent conflicts with local installations
    healthcheck:
      test: ['CMD-SHELL', 'pg_isready -U user -d appdb']
      interval: 5s
      timeout: 3s
      retries: 20
    networks:
      - app-network

  test-db:
    image: pgvector/pgvector:pg16
    container_name: career-skill-aligner-db-test
    environment:
      POSTGRES_DB: testdb
      POSTGRES_USER: testuser
      POSTGRES_PASSWORD: testpassword123
    volumes:
      - pgdata_test:/var/lib/postgresql/data
    ports:
      - '5434:5432' # Different port for test database
    healthcheck:
      test: ['CMD-SHELL', 'pg_isready -U testuser -d testdb']
      interval: 5s
      timeout: 3s
      retries: 20
    networks:
      - app-network

volumes:
  pgdata_dev:
  pgdata_test:

networks:
  app-network:
    driver: bridge
