name: Build & Push Prod Image
on:
  push:
    branches:
      - production # only build when pushing/merging to production
  workflow_dispatch: # allow manual trigger from Actions tab

jobs:
  docker:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push prod image
        uses: docker/build-push-action@v5
        with:
          context: .
          target: runtime-prod
          push: true
          tags: |
            ${{ secrets.DOCKERHUB_USERNAME }}/carreer-skill-aligner-be-prod:latest
            ${{ secrets.DOCKERHUB_USERNAME }}/carreer-skill-aligner-be-prod:${{ github.sha }}
